.no-support-message {
  display:none;
}
.impress-not-supported .no-support-message {
  display:block;
}

a{
  text-decoration: underline;
}

h1{
  color:blue;
}

h2.titre{
  text-decoration: underline;
}

h2#partie1{
  color:red;
}

h2#partie2{
  color:green;
}
